.btn-custom{
    background-color: $primary-color;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    border-radius: 20px;
    padding: .4rem 1rem;
    border: 2px solid transparent;
    transition: all .3s;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.3);

    &:hover{
        background-color: transparent;
        border: 2px solid $primary-color;
        color: $primary-color;
    }
    &:focus{
        outline: none;
        box-shadow: 0 1px 15px 3px rgba(0,0,0,.3);

    }
}